<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cidavirtual">

    <application
        android:icon="@drawable/applogo"
        android:label="@string/cida_virtual"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".NotificacaoActivity"></activity>
        <activity android:name=".TelaLoginTutores" />
        <activity android:name=".TelaTarefas"/>
        <activity
            android:name=".TelaAdmin"
            android:label="TelaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaLoginAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>